@import '../../../mixins/font-montserrat.scss';

.results-body {
  &__additional-panel {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #555555;

    &--result-count {
      @include font-montserrat(20px, #ffffff);
      margin-left: 120px;
      font-weight: bold;

      .item-genre {
        @include font-montserrat(20px, #ffffff);
      }
    }
  }

  &__movies {
    padding: 60px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 400px;
    background-color: #232323;

    &--not-found {
      @include font-montserrat(50px, #ffffff);
      line-height: 400px;
      margin: 0 auto;
    }
  }

  &__footer {
    height: 70px;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-button {
      width: 200px;
      height: 80px;
    }
  }
}
