@import '../../../mixins/font-montserrat.scss';

.search-button {
  cursor: pointer;
  
  &--active {
    @include font-montserrat(18px, #ffffff);
    padding: 0px 70px;
    height: 60px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    outline: none;
    border: none;
    background-color: #F65261;
    cursor: pointer;
  }
}
