@import '../../../mixins/font-montserrat.scss';

.search-panel {
  position: relative;
  padding-top: 110px;
  height: 400px;
  background: url('../../../../img/background1.jpg');

  .icon-button {
    position: absolute;
    top: 0px;
    left: 25px;
    width: 200px;
    height: 80px;
  }

  &__title {
    @include font-montserrat(30px, #ffffff, normal);
    margin-left: 130px;
  }

  &__search-block {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    .search {
      margin-right: 15px;
    }
  }

  &__first-filter {
    margin-left: 130px;
    margin-top: 15px;
  }

  &__second-filter {
    bottom: -52.5px;
    right: 120px;
    position: absolute;
  }
}
