.search-filter {
  display: flex;
  font-size: 15px;
  height: 35px;

  &__title {
    line-height: 35px;
    color: #ffffff;
    margin-right: 20px;
  }

  &__filters {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    .search-button {
      padding: 0px 30px;
      height: 35px;
      font-size: 15px;
      color: #ffffff;
      background-color: #424242;
      outline: none;
      border: none;
      opacity: 0.6;
    }

    .search-button--active {
      padding: 0px 30px;
      width: none;
      height: 35px;
      font-size: 15px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
    }
  }
}