@import '../../../mixins/font-montserrat.scss';

.search-filter {
  display: flex;
  @include font-montserrat(15px, #ffffff);
  height: 35px;

  &__title {
    line-height: 35px;
    color: #ffffff;
    margin-right: 20px;
  }

  &__filters {

    .left {
      border-radius: 4px 0 0 4px;
    }

    .right {
      border-radius: 0 4px 4px 0;
    }

    .search-button {
      @include font-montserrat(15px, #ffffff);
      padding: 0px 30px;
      height: 35px;
      background-color: #424242;
      outline: none;
      border: none;
      opacity: 0.8;
    }

    .search-button--active {
      padding: 0px 30px;
      height: 35px;
      @include font-montserrat(15px);
    }
  }
}
